<!-- views/partials/nav.ejs -->
<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
 <div class='container'>
<div class='navbar-header'>
 <a class='navbar-brand' href='/'>
 </a>
 </div>
<ul class='nav navbar-nav pull-right'>
 <li display='style:inline'><a href='/'>Books to Read</a></li>
 <li display='style:inline'><a href='/read'>Books You've Read</a></li>
 </ul>
</div>
</nav>