<!DOCTYPE html>
<html lang='en'>
<% include ./partials/head %> 
<body>
   <div class="jumbotron bg" id='big-bg'>
      <div class="container" background='https://images.fineartamerica.com/images-medium-large/old-library-diego-lezama.jpg'>
        <h1 class='top'>Welcome to Langhorne</h1>
        <p class='top'>A personal log to keep track of books you want to read, and have read</p>
      </div>
    </div>
 <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
      <!--add new section and row, per instructions-->
          <section class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
      <!--add form to input book data -->
          <section id='albumForm' class="container">
                <div class="row">
                <div class="col-md-10">

                  <form class="form-horizontal" id="addNewBook">
                    <fieldset>

                      <!-- Form Name -->
                      <legend>Add New Book to Read</legend>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Book Title</label>
                        <div class="col-md-4">
                        <input id="bookTitle" name="title" type="text" placeholder="The Catcher in the Rye" class="form-control input-md" required="">

                        </div>
                      </div>
                      <!-- Text input-->
                            <div class="form-group">
                                  <label class="col-md-4 control-label" for="author">Author</label>
                                  <div class="col-md-4">
                                  <input id="authorName" name="author" type="text" placeholder="J.D. Salinger" class="form-control input-md">

                                  </div>
                                </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="releaseDate">Release Date</label>
                        <div class="col-md-4">
                        <input id="releaseDate" name="releaseDate" type="text" placeholder="July 16, 1951" class="form-control input-md">

                        </div>
                      </div>

                            <!-- Textarea -->
                            <div class="form-group">
                              <label class="col-md-4 control-label" for="genres">Genres (separated by commas)</label>
                              <div class="col-md-4">
                                <textarea class="form-control" id="genres" name="genres" placeholder="Realistic Fiction, Coming-of-Age Fiction"></textarea>
                              </div>
                            </div>


                      <!-- Button -->
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton">Save Book</label>
                        <div class="col-md-4">
                          <button id="submitButton" name="submitButton" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
                </div>
              </section>
        </div>
      </div>
      <!-- books -->
      <h2>Books You Have Read</h2>
    </section>
    <div id='books'>
    </div>
  </div>
</div>
</section>
<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>