<!DOCTYPE html>
<html lang='en'>
<% include ./partials/head %> 
<body>
   <div class="jumbotron bg" id='big-bg'>
      <div class="container" background='https://images.fineartamerica.com/images-medium-large/old-library-diego-lezama.jpg'>
        <h1 class='top'>Welcome to Langhorne</h1>
        <p class='top'>A personal log to keep track of books you want to read, and have read</p>
      </div>
    </div>
     <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
      <!--add new section and row, per instructions-->
          <section class="container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
              </div>
          	</div>
      	  </section>
  		</div>
	  </div>
	 </section>
      <!-- books -->
      <h2>Books You Want to Read</h2>
    </section>
    <div id='books'>
    </div>
  </div>
</div>
</section>
<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>