body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.bg {
	background: url('https://images.fineartamerica.com/images-medium-large/old-library-diego-lezama.jpg')
}

h1.top {
	color: white;
}

.top {
	color: white;
}

.row .book {
	margin: 20, auto;
}

#big-bg {
	background-repeat: no-repeat;
	background-size: 100%;
}

div.bg.jumbotron {
	margin-top: 2%;
}